@font-face {
    font-family: 'Brandon Grotesque Bold'; /*a name to be used later*/
    src: url('./font.otf'); /*URL to font*/
}

body {
    font-family: 'Brandon Grotesque Bold', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #ddd;
    width: 840px;
    height: 700px;
}

#main {
    float: left;
    width: 840px;
}

#sequence {
    width: 840px;
    height: 30px;
}


#sequence text {
    font-weight: 600;
    fill: #fff;
}

#chart {
    position: relative;
}

#chart path {
    stroke: #fff;
}

#explanation {
    position: absolute;
    top: 20px;
    left: 421px;
    width: 400px;
    height: 155px;
    text-align: left;
    padding-left: 15px;
    color: #444;
}

#entete {
    font-size: 1.7em;
    text-align: center;
}


#titre {
    font-size: 2.0em;
    text-align: center;
}

#realisation {
    padding-top: 15px;
    font-size: 1.5em;
}

#laureat {
    padding-top: 15px;
    font-size: 1.5em;
}

#notes {
    font-size: 1em;
    height:50px;
}

.tooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    display: none;
    font-size: 12px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 100px;
    z-index: 10;
}

.labelx {
    font-size: 1.3em;
    padding-right: 5px;
}