@font-face {
    font-family: 'Brandon Grotesque Bold'; /*a name to be used later*/
    src: url('./font.otf'); /*URL to font*/
}

body {
  font-family: 'Brandon Grotesque Bold', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #ddd;
  width: 840px;
  height: 700px;
}

#main {
  float: left;
  width: 840px;
}

#sequence {
  width: 840px;
  height: 30px;
}


#sequence text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 200px;
  left: 335px;
  width: 170px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#titre {
  font-size: 2.2em;
}

#realisation {
padding-top: 15px;
  font-size: 1.8em;
}

#laureat {
padding-top: 15px;
  font-size: 1.2em;
}

#notes {
  font-size: 1em;
    height:50px;
    wid
}